######
# Type in the directory, and/or filetype to ignore
*.pyc
*.DS_Store
*.sublime-project
*.sublime-workspace
*.sublime-build


# Ignoring these sublime text files
# /User/Preferences.sublime-settings 
/User/Sublimerge*
/User/Package Control.last-run
/User/Package Control.ca-list
/User/Package Control.merged-ca-bundle
/User/Package Control.user-ca-bundle
/User/Package Control.ca-bundle
/User/Package Control.system-ca-bundle
/User/Package Control.cache/
/User/Package Control.ca-certs/
/User/oscrypto-ca-bundle.crt
/User/SQLTools*
/User/SFTP*
/User/GitSavvy/GitSavvy*