######
# Type in the directory, and/or filetype to ignore
*.pyc
*.DS_Store
# *.sublime-project
# *.sublime-workspace
*.sublime-build



# Ignoring these sublime text files
# /User/Preferences.sublime-settings 
/User/Sublimerge*
/User/Package Control*
/User/oscrypto-ca-bundle.crt
/User/SQLTools*
/User/SFTP*
/User/GitSavvy/GitSavvy*
/User/trigger_file.txt